@import url('https://fonts.googleapis.com/css?family=Roboto:400,900')

body
  width: 100vw
  //height: 100vh
  //overflow: hidden

  font-family: 'Roboto', sans-serif
  margin: 0


  background-color: #555

section.cronom
  width: 100%
  min-height: 100vh
  background-image: url('../img/IMG1.jpg')
  background-size: cover

  display: flex
  align-items: center

  color: white
  text-align: center
  font-size: 26px
  font-weight: 400 
  h2
    font-weight: 400
  //margin: 0 30px

  .wrapc
    margin: 0 auto

.counter-numbers
  margin-top: 30px
  display: grid
  grid-template-columns: repeat(8, 1fr)

.numd span:first-child
  font-size: 66px

.numd span:last-child
  font-size: 26px

.numd
  margin: 30px
  font-weight: 400

.dc
  grid-column: 3 / 4

section.form-section
  width: 100%
  min-height: 100vh
  background-image: url('../img/IMG2.jpg')
  background-size: cover

  .wrap-form
    height: 100vh
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr
    background-color: rgba(255,255,255,0.6)
    width: 90%
    margin: 0 auto

.form-text
  grid-column: 1 / 4
  margin: 60px
  font-size: 24px

  h2
    font-size: 48px
    color: rgb(170, 9, 9)

.button
  margin-top: 60px
  color: rgb(198, 9, 9)
  border: 3px solid rgb(198, 9, 9)
  padding: 8px
  
    

.form-wrap
  grid-column: 4 / -1
  display: flex
  align-items: center

  h3
    width: 100%
    font-size: 35px
    text-align: center
    color: #555

  input, textarea
    width: 100%

footer
  font-size: 18px
  height: 200px
  background-color: rgb(198,9,9)
  color: white

  //display: grid
  //grid-template-columns: repeat(5, 1fr)
  display: flex
  justify-content: space-evenly

  div
    margin-top: 60px
    //grid-column: span 1

  p
    margin: 0

  //div:first-child
    //grid-column: 2 / span 1

