<!DOCTYPE html>
<html>
  <head>
    <title>Ramos &amp; Silva | Correspondente bancário</title>

    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/countdown.js"></script>
  </head>

  <body>

		<section class="cronom">
			<div class="wrapc">
				<h2 style="line-height:0.55;">ramos&amp;silva<br><span style="font-size: 16px; text-align: right; width: 210px; display: inline-block;">Correspondente no país</span></h2>
				<h2 style="margin-top: 0;">EM BREVE, UM NOVO SITE PARA <strong>VOCÊ<br>SE RELACIONAR COM A GENTE.</strong></h2>

				<div class="timer-wrap">
					<strong><h2>FALTAM<br>
							{% comment %}<span id="launchTimer"></span>{% endcomment %}

							<div class="counter-numbers">

								<div class="numd dc">
									<span id="dias"></span>
									<br>
									<span>dias</span>
								</div>

								<div class="numd dh">
									<span id="horas"></span>
									<br>
									<span>horas</span>
								</div>

								<div class="numd dm">
									<span id="minutos"></span>
									<br>
									<span>minutos</span>
								</div>

								<div class="numd ds">
									<span id="segundos"></span>
									<br>
									<span>segundos</span>
								</div>

							</div>

							<br>PARA O LANÇAMENTO.</h2></strong>
				</div>
			</div>
		</section>

		<section class="form-section">
			<div class="wrap-form">
				<div class="form-text">
					<h2 style="margin-top: 0;">Atendimento Personalizado</h2>
					<p>Enquanto nosso site é reestruturado, você pode ser atendido por um consultor autorizado da Ramos &amp; Silva.</p>
					<p>Empresa com mais de 13 anos de experiência</p>
					<p>Segurança e praticidade</p>
					<p>Compromisso com o cliente</p>
					<p style="margin-bottom: 45px;">Solução ágil para o que precisa</p>
					<span class="button">Solicite uma proposta!</span>
				</div>

				<div class="form-wrap">
						<form action="https://formspree.io/stedevai@email.fr" method="POST">
							<h3>Fale com a gente</h3>
							<input type="text" name="name" placeholder="Nome"><br>
							<input type="email" name="_replyto" placeholder="E-mail"><br>
							<input type="phone" name="telefone" placeholder="Telefone"><br>
							<input type="text" name="assunto" placeholder="Assunto"><br>
							<textarea name="message" placeholder="Mensagem"></textarea><br>
							<input type="submit" value="Quero ser atendido">
						</form> 
				</div>
			</div>
		</section>

		<footer>
			<div><p>SEDE ADMINISTRATIVA<br>Rua Paulo dos Santos, 637<br>Vila São Manoel | 15091-310<br>São José do Rio Preto/SP</p></div>
			<div><p>HORÁRIO DE FUNCIONAMENTO:<br>Segunda a quinta-feira: 08h30 - 18h00<br>Sexta-feira: 8h30 - 17h30</p></div>
			<div><p>SE PREFERIR, LIGUE QUE VAMOS ATÉ VOCÊ!<br>(17) 3512 - 4620<br>contato@ramosilva.com.br</p></div>
		</footer>

    <script>
      countdown.setLabels(
        ' milissegundo| segundo| minuto| hora| dia| semana| mês| ano| década| século| milênio',
        ' milissegundos| segundos| minutos| horas| dias| semanas| meses| anos| décadas| séculos| milênios',
        ' e ',
        ', ',
        'agora');

      $(document).ready(function(){
        var launch_date = new Date(2018, 12, 25);
        var count = countdown(launch_date, function(ts) {
          $('#launchTimer').html(ts.toString());

					$('#dias').html(ts.days);
					$('#horas').html(ts.hours);
					$('#minutos').html(ts.minutes);
					$('#segundos').html(ts.seconds);
        });
      });
    </script>

  </body>
</html>
