<!DOCTYPE html>
<html>
  <head>
    <title>Ramos &amp; Silva | Correspondente bancário</title>

    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/countdown.js"></script>
  </head>

  <body>

    <div class="timer-wrap">
      <strong><h2>Faltam <span id="launchTimer"></span> para o lançamento do site da Ramos&amp;Silva! </h2></strong>
    </div>

    <div class="form-wrap">
        <form action="https://formspree.io/stedevai@email.fr" method="POST">
          <h3>Entre em contato!</h3>
          <input type="text" name="name" placeholder="Nome"><br>
          <input type="email" name="_replyto" placeholder="E-mail"><br>
          <input type="phone" name="telefone" placeholder="Telefone"><br>
          <textarea name="message" placeholder="Mensagem"></textarea><br>
          <input type="submit" value="Enviar">
        </form> 
    </div>

    <script>
      countdown.setLabels(
        ' milissegundo| segundo| minuto| hora| dia| semana| mês| ano| década| século| milênio',
        ' milissegundos| segundos| minutos| horas| dias| semanas| meses| anos| décadas| séculos| milênios',
        ' e ',
        ', ',
        'agora');

      $(document).ready(function(){

        var launch_date = new Date(2018, 10, 28);
        var count = countdown(launch_date, function(ts) {
          $('#launchTimer').html(ts.toString());
        });
      });
    </script>

  </body>
</html>
