<!DOCTYPE html>
<html>
  <head>
    <title>Ramos &amp; Silva | Correspondente bancário</title>

    <link rel="stylesheet" type="text/css" href="css/styles.css">

  </head>

  <body>

		<section class="cronom">
			<div class="wrapc">
				<h2 style="line-height:0.55;">ramos&amp;silva<br><span style="font-size: 16px; text-align: right; width: 210px; display: inline-block;">Correspondente no país</span></h2>
				<h2 style="margin: 0 auto; width: 85%;"><strong>Agradecemos a sua mensagem e a preferência!</strong><br>Em breve, um consultor autorizado Ramos & Silva Correspondente no País entrará em contato.<br><br><a href="/" style="color: white; font-weight: bold;">Voltar</a></h2>

			</div>
		</section>


		<footer>
			<div><p>SEDE ADMINISTRATIVA<br>Rua Paulo dos Santos, 637<br>Vila São Manoel | 15091-310<br>São José do Rio Preto/SP</p></div>
			<div><p>HORÁRIO DE FUNCIONAMENTO:<br>Segunda a quinta-feira: 08h30 - 18h00<br>Sexta-feira: 8h30 - 17h30</p></div>
			<div><p>SE PREFERIR, LIGUE QUE VAMOS ATÉ VOCÊ!<br>(17) 3512 - 4620<br>contato@ramosilva.com.br</p></div>
		</footer>

  </body>
</html>

